
header{
  /*height: 20%;*/
  margin: 20px ;
}

header img{
  width:25px;
  color:white;
}

body{
  
  margin:0;
  font: 'arial';
  /*background-color: #559a90;*/
  background-image: url("./assets/header.png") ;
  
  color: white;
  

}


.book, .author{
  overflow-y: scroll;
}


.home{
   /* margin: 2em;*/
   margin: 20px ;

}

.menu{
  margin: 20px ;
  font: 0.9em 'arial';
  
}


header .menu img{
  margin: 10px auto;
  display:block;
}

header .page h3{
  font: 0.9em 'arial' ;
  font-weight: bold;
  padding-top: 5px;
  margin-left: 30px;
}

header .page img{
  width: 10px;
  float: left;
  /*padding-top: 5px;*/
}

hr {
  border: 1px solid white;
}

.home span{
  font: 1em 'arial' ;
  font-weight: bold;
}
  
  
  @media screen and (orientation: portrait) {
    .home .vertical {
      display:none;
    }

    .home .horizontal{
       
        margin: auto;
        display:block;

    }

    .home .horizontal img{
       
        max-width: 100%;
        width: -webkit-fill-available;
    }

  }
  
  /* For landscape, we want the tool bar stick on the left */
  
  @media screen and (orientation: landscape) {
    .home .horizontal , header .menu{
      display:none;
    }
    .home .vertical .description{
      margin-left: 250px;
      padding: 44px;
    }
    /*
    .home .vertical img{
        width: -webkit-fill-available;
        max-width: 230px;
        float: left;
    }
    */

    .home .vertical > img{
        width: auto;
        height : auto;
        max-height: 100%;
        max-width: 100%;
        float: left;
      
    }

    .home .vertical{
      margin: 10% 40px;
      height: 250px;
      background: #72c1b3;
    }

  }


  /*THE BOOK*/

  .book p img{
       
    max-width: 80%;
    width: -webkit-fill-available;
    padding-bottom: 10px;
    margin: auto;
    display: block;
}

  .book p{
    font: 0.9em 'arial' ;
    margin: 20px ;
  }

.book ul{
  background: #72c1b3;
  padding: 1em auto;
  padding-inline-start: 4px;
  padding: 1em;
 /*border-radius: 20px;*/

}

.book ul li{
  padding: 0.4em;
  margin-left: 5em;
  font: 0.9em 'arial';
}

.book ul img{
  float: left;
  height: 200px;
  padding: 10px;
}

  /*THE AUTHOR*/

  .author{
    font: 0.9em 'arial';
    margin: 20px ;
  }

  .author h4{
    margin-block-end:0;
  }

  .author p{
    margin-block-start: 0em;
  }


  /*ANCILLARY MATERIAL*/

  .iframe a img{
    max-width: 100%;
  }

  
  .iframe p{
    font: 0.9em 'arial' ;
  }

  .iframe{
    margin: 20px ;
  }

/*PURCHASE*/

.purchase{
  text-align: center;
  margin: 20px ;
  /*padding: 70px;*/
}

.purchase .container_purchase_img{
  padding: 20px ;
  /*background: #42726a;*/
  margin-bottom: 15px;
  height: -webkit-fill-available;
}

.purchase .container_purchase_img p{
  font: 0.8em 'arial';
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.purchase .container_purchase_img p:hover{
  overflow: visible;
}

.purchase .container_purchase_img img{
     max-width: 100%;
}
/*FOOTER*/


/*
footer .contactIcons {
  position: absolute;
  transform: translate(100px, 90px);

}
*/

.contact{
  margin: 20px ;
}

.contact .container_buttons button{
  color: white;
    font: 1.1em 'arial';
    text-align: justify;
    margin: 20px auto;
 /* width: 340px;*/
}

.contact .container_buttons img{
  
  width: 40px;
}

#explodeButton {
  border: none;
  background: none;
  cursor: pointer;
  
}